.notdesign {
  height: 200px;
  margin-left: 80px;
  background-color: rgb(127, 219, 255);
  padding: 0 100px;
  margin-top: 180px;
  text-align: center;
  border-radius: 30px;

  &__text {
    display: flex;
    align-items: center;
    justify-self: center;
    color: #fff;
    font-size: 30px;
    padding-top: 60px;
  }

  &__design {
    margin-left: 5px;
  }
}
